.body{
  -ms-overflow-style: none;

}
.App {
  text-align: center;
  margin: 0%;
  border-style: double;
  overflow-x: hidden;
  overflow-y: hidden;
  display: none;

}

.container{
  display: flex;
  flex-direction:row;
  background-color: rgb(228, 239, 239);
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  
}
.detail-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 239, 239);
  width:80%;
  margin-left: auto;
  text-align: center ;
  margin-right: auto;
 

}
.Data-container{
  background-color:  rgb(228, 239, 239);
  width: 20%;
  text-align: center;
}

.list-container{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.userlist-container{
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.Data-item{
  padding: 10%;
  text-align: left;
  border-style: ridge;
 image-orientation: flip;
 display: flex;
 flex-direction: row;
 align-items: center;
width: 100%;
 
}

h2 {
  margin: 0;
  border-style: outset;
  backface-visibility: unset;
  background-color: rgb(149, 155, 155);
  -webkit-text-fill-color: #232124;
  text-align: center;
  
  
  width: 100%;
  padding-top: 0%;
  
 
}

.btn{
  width: 100%;
}

.Data-item:hover{
  background-color: rgb(117, 119, 118);
}
.img{
  padding: 30%;
  width: 30px;
  height: 30px;
}
.input-search{
  border-style: solid;
  width: 95%;
  text-align:center;
  background-color: rgb(117, 122, 122);
  -webkit-text-fill-color: rgb(5, 4, 12);
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: contain;
 
}
.property{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:left;
  line-height: 35px;

  width:100%;
 
}

.field{
 
 width: 30%;
 text-align: left;
 padding-left: 5%;

}
.field1{
  width: 70%;
  text-align: left;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: "----"; 
   
}

